#demo{
    /* color property -> 3 ways */
    color: red;

    /* background property */
    background-color: black;
}

#i1{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

body{
    background-color: black;
    background-image: url('./Screenshot\ 2023-04-05\ 110834.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}